# Core functionality - changes here should be rare!
/src/app.py                   @carlewis
/src/backend/database.py      @carlewis
/src/backend/routers/auth.py  @carlewis

# The frontend will need refactored soon to be more object oriented.
/src/static/   @carlewis
